html[dir="rtl"] #home .home-content > h1 ,
 {
  font-family: "Cairo", sans-serif;
}

.buttons p {
  font-family: Poppins,sans-serif; 
  font-weight: 600;
}

html[dir="rtl"] .buttons p {
  font-family: Cairo,sans-serif; 
  font-weight: 700;
}

@media (max-width:400px) {
  .buttons {
    display: block !important;
    width: fit-content;
  }
  .buttons a:last-child {
   margin-top: 23px;
    padding-left: 20px;
    padding-right: 20px;
   }
}
