html[dir="rtl"] #home .home-content > h1 ,
 {
  font-family: "Cairo", sans-serif;
}

.buttons p {
  font-family: Poppins,sans-serif; 
}

html[dir="rtl"] .buttons p {
  font-family: Cairo,sans-serif; 
}
